.#{$prefix}-cal-view {
  /* Day view */
  &--day {
    /* One line: contains the hour and the events */
    .#{$prefix}-hour-line {
      display: flex;
      max-height: 50px;
      height: 50px;
      width: 100%;
      border-top: 1px solid lightgray;
      /* Hour cell */
      .hour {
        width: 50px;
        text-align: right;
        padding-right: .5em;
        border-right: 1px solid lightgray;
        margin-right: .5em;
        max-height: 3em;
        height: 3em;
      }
      /* Content cell */
      .content {
        flex-grow: 2;
        display: flex;
        width: 100%;
      }
    }
  }
  /* Month view */
  &--month {
    /* Day names */
    .#{$prefix}-headers {
      display: flex;
      width: 100%;
      .day {
        width: calc(100% / 7);
        text-align: center;
        padding: .5em;
      }
    }
    /* List of all days */
    .#{$prefix}-days {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      background-color: $cell-bg;
      /* One day cell */
      .day {
        width: calc(100% / 7 - 1px);
        min-height: 8em;
        height: 8em;
        border: 1px solid lightgray;
        border-width: 0 0 1px 1px;
        padding: .5em;
        overflow: hidden;
        .header {
          text-decoration: none;
          color: blue;
        }
        &.current-day {
          .header {
            font-weight: bold;
          }
        }
        &.selected-day {
          .header {
            background-color: teal;
          }
        }
      }
    }
    .out-of-scope {
      color: gray;
      background-color: $cell-disabled-bg;
    }
  }
  /* Small month widget */
  &--month-small {
    max-width: 250px;
    width: 250px;
    .#{$prefix}-cal-links {
      font-size: .8em !important; // @todo Change this
      .link {
        // Buttons
      }
    }
    /* Day names */
    .#{$prefix}-headers {
      display: flex;
      width: 100%;
      .day {
        width: calc(100% / 7);
        text-align: center;
        padding: .5em;
      }
    }
    /* List of all days */
    .#{$prefix}-days {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      background-color: $cell-bg;
      /* One day cell */
      .day {
        width: calc(100% / 7);
        min-height: initial;
        height: 4rem;
        border: none;
        border-width: 0 0 1px 1px;
        padding: .5em;
        text-align: center;
        .header {
          text-decoration: none;
          color: blue;
        }
        &.current-day {
          .header {
            font-weight: bold;
          }
        }
      }
    }
    .out-of-scope {
      color: gray;
      background-color: $cell-disabled-bg;
    }
  }
  &--week {
    /* Day names */
    .#{$prefix}-headers {
      display: flex;
      width: 100%;
      .day {
        width: calc(100% / 7);
        text-align: center;
        padding: .5em;
      }
    }
    /* List of all days */
    .#{$prefix}-days {
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      background-color: $cell-bg;
      overflow-x: scroll;
      /* One day cell */
      .#{$prefix}-cal-view {
        &--day {
          width: calc(100% / 3 - 1px);
          min-width: calc(100% / 3 - 1px);
          amx-width: calc(100% / 3 - 1px);
          .day {
            min-height: 8em;
            height: 8em;
            border: 1px solid lightgray;
            border-width: 0 0 1px 1px;
            padding: .5em;
            overflow: hidden;
            .header {
              text-decoration: none;
              color: blue;
            }
            &.current-day {
              .header {
                font-weight: bold;
              }
            }
          }
        }
        &--multi-days {
          margin-right: 1em;
          //#{$prefix}-cal-view--day{
          //  min-width: calc(100vh / 3 - 1em);
          //}
        }
      }
    }
  }
  &--multi-days {
    /* Day names */
    .#{$prefix}-headers {
      display: flex;
      width: 100%;
      .day {
        width: calc(100% / 7);
        text-align: center;
        padding: .5em;
      }
    }
    /* List of all days */
    .#{$prefix}-days {
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      background-color: $cell-bg;
      overflow-x: scroll;
      /* One day col */
      .#{$prefix}-cal-view {
        &--day {
          width: calc(100vw / 3 - 1px);
          min-width: calc(100vw / 3 - 1px);
          max-width: calc(100vw / 3 - 1px);
        }
      }
    }
  }
  &--picker {
    width: 250px;
    .time {
      margin: $small-value 0;
      display: flex;
      &_element {
        button {
          width: 100%;
        }
        input {
          text-align: center;
        }
      }
    }
  }
}
